<header>
  <% logo = image_tag("logo.png", :alt => "EvoLogo", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Portfolio", '#' %></li>
      <li><%= link_to "Process", '#' %></li>
      <li><%= link_to "Pricing", '#' %></li>
    </ul>
  <ul>
    <li><%= link_to "Sign in", '#' %></li>
  </ul>
  </nav>
</header>

